<head>
    <title>Forbidden</title>
</head>
<body>
    <header>
        <h1>403 Forbidden</h1>
    </header>
    <p>You do not have permission to access this page.</p>
    <a href="/">Go Back to Main Page</a>
    
    

</body>
