<head>
    <title>Register</title>
    <link rel="stylesheet" href="../public/css/main.css">
</head>
<body id="register_body">
    <header>
        <h1 id="register-user">Register</h1>
        <a id="login-back" href="/user/login">Login</a>
        <a id="register-main" href="/">Home</a>
    </header>
    <form id="register-form" method="POST" action="/user/register">
        <label for="username">Username: 
            <input type="text" id="username" name="username" required>
        </label>
        <label for="userpassword">Password: 
            <input type="password" id="userpassword" name="userpassword" required>
        </label>
        <label for="confirmpass">Confirm Password: 
            <input type="password" id="confirmpass" name="confirmpass" required>
        </label>
        <label for="useremail">Email: 
            <input type="email" id="useremail" name="useremail" required>
        </label>
        <label for="firstname">First Name: 
            <input type="text" id="firstname" name="firstname" required>
        </label>
        <label for="lastname">Last Name: 
            <input type="text" id="lastname" name="lastname" required>
        </label>
        <button id="register-button" type="submit" id="registerbutton" name="registerbutton">Register</button>

    </form>
    {{#if errorregistermessage}}
        <p id="errorregister" name="errorregister">{{errorregistermessage}}</p>
    {{/if}}
    
</body>