<head>
    <title>Approved</title>
    <link rel="stylesheet" href="../public/css/main.css">
</head>
<body id="approved_body">
    <header>
        <h1 id="approved_title">You are Approved!</h1>
        <p id="approved_info">{{firstname}}, you have been approved. You will receive a mail within 10-14 days for more details of your new account.</p>
        <a id="approved_main" href="/">Home</a>
        <a id="approved_contact" href="/user/contact">Contact Us</a>
    </header>
    <button id="logout1" name="logout1" onclick="location.href='/user/logout'">Logout</button>

</body>
