<head>
    <title>Declined</title>
    <link rel="stylesheet" href="../public/css/main.css">
</head>
<body id="declined_body">
    <header>
        <h1 id="declined_title">Sorry, You Are Not Approved.</h1>
        <p id="declined_info">We're sorry, you have not been approved for a line of credit. You will be notified within 10-14 days by mail on why.</p>
        <a id="declined_main" href="/">Home</a>
        <a id="declined_contact" href="/user/contact">Contact Us</a>
    </header>
     <button id="logout2" name="logout2" onclick="location.href='/user/logout'">Logout</button>
</body>
