<head>
    <title>Update Info</title>
    <link rel="stylesheet" href="../public/css/main.css">
</head>
<body>
    <header>
        <h1 id="update_info"></h1>
        <p>Here, you can update some of your information for a review of potental increase credit.</p>
    </header>
    <form id="update-form" name="update-form" method="POST">
        <label for="update_utilization" id="utilization-update">Updated Credit Utilization:
            <input type="number" id="update_utilization" name="update_utilization" required>
        </label>
        <label for="update_income" id="income-update">Updated Income:
            <input type="number" id="update_income" name="update_income" required>
        </label>
        <button type="submit" id="button_update" name="button_update">Submit</button>
    </form>
</body>