#main_title{
    
    position: fixed;
    top: 5px;
    left: 600px;
    
}

#main_info{
    position:fixed;
    top: 100px;
    left: 350px;
}

#admin{
    position: fixed;
    top: 5px;
    left: 600px;
}

#admin_body{
    position: fixed;
    top: 100px;
    
}

#logout_admin{
    width:100px;
    height:20px;
    position:fixed;
    top: 480px;
    left: 650px
}

#admin_main{
position: fixed;
    top: 84px;
    left:600px;
}

#admin_summary{
    position: fixed;
    top: 84px;
    left:650px; 
}

#logout_usercredit{
    position:fixed;
    top: 575px;
    left: 700px;

}

#credit_info{
    position:fixed;
    top: 5px;
    left: 600px
}

#credit_statement{
    position:fixed;
    top: 75px;
    left: 500px
}

#fill-main{
    position:fixed;
    top: 125px;
    left: 640px
}

#fill-contact{
    position:fixed;
    top: 125px;
    left: 710px
}

#revolving{
    position: fixed;
    top: 200px;
    left: 250px
}

#age{
    position: fixed;
    top: 200px;
    left: 650px
}

#first_late{
    position: fixed;
    top: 200px;
    left: 1050px
}

#ratio{
    position: fixed;
    top: 300px;
    left:250px
}

#income{
    position: fixed;
    top: 300px;
    left: 650px
}
 #credit{
    position: fixed;
    top: 300px;
    left:1050px
 }

 #third_late{
    position: fixed;
    top: 400px;
    left: 250px
 }

 #realestate{
    position:fixed;
    top: 400px;
    left:650px
 }

 #second_late{
    position: fixed;
    top:400px;
    left: 1050px
 }

#info_submit{
    position:fixed;
    top: 480px;
    left: 650px;
    width: 150px;
    height:50px
}

#approved_body{
    min-height:100vh;
    background-repeat: no-repeat;
    background-image: url("../images/congrats.gif");
    background-position: center ;
    background-size: cover;
    background-attachment: fixed;
    position: fixed
} 



#errorregister{
    position:fixed;
    top:200px;
    left:500px
}

#errorlogin{
    position:fixed;
    top:200px;
    left:600px
}

#summary1{
    position:fixed;
    left:700px
}

#summary2{
    position:fixed;
    left:750px
}

#logout1{
    width:100px;
    height:20px;
    position:fixed;
    top: 480px;
    left: 650px
}


#logout2{
    position:fixed;
    top: 480px;
    left: 750px;
    width:100px;
    height:20px
}

#info_body{
    background-color: azure;
}

#main-body{
    background-color: orange;
}

#main-body{
    min-height: 100vh;
    background-image: url("../images/main_page.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    position: fixed
    
}


#approved_title{
    position: fixed;
    top: 25px;
    left: 600px;
    color: white

}

#approved_info{
    position: fixed;
    top: 100px;
    left:400px;
    color: white
}

#approved_main{
    position: fixed;
    top: 165px;
    left:625px;
    color: white
}

#approved_contact{
    position: fixed;
    top: 165px;
    left:725px;
    color: white
}

#declined_title{
    position: fixed;
    top: 25px;
    left: 600px;

}


#declined_info{
    position: fixed;
    top: 100px;
    left: 450px;
}

#declined_main{
    position: fixed;
    top: 165px;
    left: 700px;
}

#declined_contact{
    position: fixed;
    top: 165px;
    left: 800px;
}


#no_data_text{
    position: fixed;
    top: 300px;
    left: 550px;
    font-size:34px
}

#info_title{
    position: fixed;
    top: 25px;
    left: 600px;
}

#info_info{
    position: fixed;
    top: 100px;
    left: 525px;
}



#histogram{
    position:fixed;
    top: 200px
}

#boxplot{
    position:fixed;
    top:200px;
    left:1000px
}

#summary_stat{
    position:fixed;
    top:200px;
    left: 600px
}

#summary_info{
    font-weight: bold;
}

#link_info{
    position:fixed;
    top:500px;
    left: 600px
}

#link_main{
    position:fixed;
    top:75px;
    left: 600px
}

#stat_body{
    background-color: aquamarine;
}

#declined_body{
    background-color: darkcyan;
}

#main_login{
    position:fixed;
    top: 500px;
    left: 500px;
    width: 200px;
    height:50px
}

#main_register{
    position:fixed;
    top: 500px;
    left: 800px;
    width: 200px;
    height:50px
}

#login_page{
    background-color:gold
}

#login-head{
    text-align: center;
}

#login-form{
    position: fixed;
    top:300px;
    left: 500px;
}

#login-back{
    position:fixed;
    left: 640px;
}

#register-user{
    text-align: center;
}

#register_body{
    background-color: gold;
}

#register-form{
    position: fixed;
    top:300px;
}

#register-button{
    position: fixed;
    top:350px;
    left:600px;
    width: 150px;
    height:50px
}

#register-back{
    position:fixed;
    left: 670px;
}

#login-main{
    position:fixed;
    left: 600px;
}

#register-main{
    position:fixed;
    left: 575px;
}

#contact-head{
    position: fixed;
    top: 15px;
    left: 600px;
}

#contact-main{
    position: fixed;
    top: 85px;
    left: 550px;
}

#contact-register{
    position: fixed;
    top: 85px;
    left: 605px;
}

#contact-login{
    position: fixed;
    top: 85px;
    left: 675px;
}

#contact-summary{
    position: fixed;
    top: 85px;
    left: 725px;
}

#contact-head2{
    position: fixed;
    top: 175px;
    left: 600px;
}

#response{
    position: fixed;
    top: 250px;
    left: 400px;
}



#contact_name{
    position: fixed;
    top: 175px;
    left: 400px;
}

#contact_email{
    position: fixed;
    top: 175px;
    left: 800px;
}

#contact-content{
    position: fixed;
    top: 250px;
    left: 475px;
}

.contact_content{
    position: fixed;
    top: 225px;
    left: 475px;
}

#contact-button{
    position: fixed;
    top: 480px;
    left: 700px;
}

.check_label{
    position: fixed;
    top: 300px;
    left: 125px;
    
}

#check{
    position: fixed;
    top: 350px;
    left: 184px;
    width: 34px;
    height: 34px;
}

#login-contact{
    position:fixed;
    left:875px
}

#link_contact{
    position:fixed;
    top:75px;
    left: 800px
}

#register-contact{
    position:fixed;
    left: 825px;
}

